/*body {
  font-size: 1.5em;
}*/


.narrative-col, .sticky-col {
  font-size: 1.5em !important;
}


.sticky-col {
  width: 98% !important;
}



.fig-story70 {
  width: 45%;
  margin-left: 5%;
}

.fig-story95 {
  width: 92%;
  margin-left: 3%;
}

.border-round {
  border-radius: 7px;
  border: 1px lightgrey solid;
}


#title-block-header {
  min-height: 100vh;
  font-size: 1.5em !important;
}

#quarto-content{
  background-image: url(title-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}



.border1{
  border: 1px solid darkgrey;
}

.title {
  font-size: 1.5em !important;
}

.quarto-title {
  margin-top: 25%;
  margin-bottom: 15%;
  font-size: 1.5em !important;
}

.narrative-col h1, .narrative-col h2, .narrative-col h3, .narrative-col a , .narrative-col {
  color: #fff !important;
}

.sticky-col {
  color: #fff !important;
}


.sticky-col strong {
  color: #ffdfb9;
  font-weight: 900;
}

.sticky-col h1 strong {
  color: #a9cae9;
  font-weight: 900;
}

.quarto-appendix-contents a {
  color: #000 !important;
}

.firstcol {
  width: 15% !important;
}

.secondcol, .thirdcol, .fourthcol {
  width: 28% !important;
}

.addborder {
  border-top: 1px solid grey;
  padding-top: 10px !important;
}


.bigger-font {
  font-size: 2em !important;
}



.citation > a {
  text-decoration: underline;
  color: #fff !important;
}

a {
  color: #fff !important;
}


#credit a {
  color: #000 !important;
}

.quarto-title-author-email {
  color: #3b3b3b !important;
}